.hideen {
    display: none;
}
.popup {
    position: fixed;
    inset: 0;
    margin: auto;
}

/* グラフ用 */
.wrap-chart {
width: 100%;
height: 700px;
}
@media (max-width: 480px) {
.wrap-chart {
    height: 400px;
}
}